@use "/styles/variables" as *;

.container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.description {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: $color-black;
  text-align: center;
  max-width: 450px;
}

.link {
  font-weight: bold;
  border-bottom: 2px solid $color-blue;
}

.openModalBtn {
  font-size: 1.4rem;
  color: $color-white;
  background-color: $color-blue;
  cursor: pointer;
  width: 140px;
  height: 40px;
  border-radius: 20px;
  transition: background-color .15s ease-in-out;
  margin-top: 20px;
  border: 0;

  &:hover {
    background-color: $color-blue-bright;
  }
}