// Font family
$font-poppins: "Poppins", Arial, Verdana, Helvetica Neue, sans-serif;

// Font weight
$font-weight-regular: 400;
$font-weight-semi-bold: 600;

// Colors
$color-white: #ffffff;
$color-black: #121212;
$color-gray-bright: #e2e8f0;
$color-gray: #474e56;
$color-blue-bright: #4d94e4;
$color-blue: #225ed8;