@use "/styles/variables" as *;

.mainContainer {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.text {
  font-size: 1.5rem;
  color: $color-gray;
  line-height: 2.4rem;
  text-align: center;
  margin: 16px 0;
  flex: 1;
}

.demoDescription {
  @extend .text;

  color: $color-black;
  max-width: 450px;
  flex-grow: 0;
}

.link {
  font-weight: $font-weight-semi-bold;
  border-bottom: 2px solid $color-blue;
}

.button {
  font-size: 1.4rem;
  color: $color-white;
  cursor: pointer;
  width: 140px;
  height: 40px;
  transition: {
    property: background-color, color;
    duration: 0.15s;
    timing-function: ease-in-out;
  };
  border: 0;
}

.openModalBtn {
  @extend .button;

  background-color: $color-blue;
  border-radius: 20px;
  margin-top: 20px;

  &:hover {
    background-color: $color-blue-bright;
  }
}

.confirmBtn {
  @extend .button;

  background-color: $color-black;
  border-radius: 8px;
  margin-top: 20px;
  flex-shrink: 0;

  &:hover {
    color: $color-black;
    background-color: $color-gray-bright;
  }
}

@media (prefers-reduced-motion: reduce) {
  .button {
    transition: none;
  }
}